<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    <title>메인 페이지</title>
</head>
<body>
{% include 'blog/navbar.html' %}
<h1>대문페이지</h1>
    {% for post in recent_posts %}
    <div>
        <h4><a href="{{ post.get_absolute_url }}"> {{ post.title}} by {{ post.author }}</a></h4>
        <p>{{ post.content|truncatechars:30 }}</p>
    </div>
{% endfor %}
{% include 'blog/footer.html' %}
</body>
</html>